[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-datadir-ng = "*"
flake8 = "*"
pipenv = "*"

[packages]
click = "*"
pycryptodomex = "*"
colorama = "*"
phibes = {editable = true, path = "."}

[requires]
python_version = "3.8"

[scripts]
test_all = "make test_all"
test = "make test"
cov = "make cover"
flake = "make flake"
list = "./pipenv_list_scripts.py"
