[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-datadir-ng = "*"
flake8 = "*"

[packages]
click = "*"
pycryptodomex = "*"
colorama = "*"

[requires]
python_version = "3.8"
